chain_type: LANG_GRAPH_V2

llms:
    agent_llm:
        model_id: "openai.gpt-4o"
        service_endpoint: "https://inference.generativeai.us-chicago-1.oci.oraclecloud.com"
        compartment_id: ""
        auth_type: "API_KEY"
        auth_profile: "API-USER"

prompts:
    search_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You are a web search assistant that queries the web using the tools you have and answers the question"
            PLACEHOLDER: "{messages}"

    web_scraper_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You are a scrape assistant that scrapes the urls you have and answers the question"
            PLACEHOLDER: "{messages}"

    research_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You are a research supervisor that does supervises agents that web search and scrapes urls to retrieve and answer use questions"
            PLACEHOLDER: "{messages}"

    writer_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You can read, write and edit documents based on note-taker's outlines. Don't ask follow-up questions"
            PLACEHOLDER: "{messages}"

    notes_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You can read documents and create outlines for the document writer. Don't ask follow-up questions."
            PLACEHOLDER: "{messages}"

    summarize_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You can read documents and summarize the findings. Don't ask follow-up questions."
            PLACEHOLDER: "{messages}"

    doc_writer_manager_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You are a document writer supervisor that does supervises agents that reads, writes, edits, takes notes, and summarizes the findings"
            PLACEHOLDER: "{messages}"

    research_and_doc_writer_prompt:
        prompt_type: ROLE_PROMPT
        prompt_order: [SYSTEM, PLACEHOLDER]
        prompt_snippets:
            SYSTEM: "You are a supervisor that supervises team of agents that do web research and writes / read/ edits documents"
            PLACEHOLDER: "{messages}"

lambdas:
    web_search:
        name: WebSearchTool
        description: "This tool performs a web search for a given query and return urls of results"
        lambda_schema:
            members_annotations:
                query: str
        lambda_class: src.hierarchical_agent_teams.WebSearchTool

    scrape_web:
        name: ScrapeWeb
        description: "Use requests and bs4 to scrape the provided web pages for detailed information."
        lambda_schema:
            members_annotations:
                urls: list[str]
        lambda_class: src.hierarchical_agent_teams.ScrapeWeb

    create_outline:
        name: CreateOnline
        description: "Create and save an outline."
        lambda_schema:
            members_annotations:
                main_points: list[str]
                file_name_for_outline: str
        lambda_class: src.hierarchical_agent_teams.CreateOutline

    read_document:
        name: ReadDocument
        description: "Read the specified document."
        lambda_schema:
            members_annotations:
                file_name_to_read_document: str
                start_line: int
                end_line: int
        lambda_class: src.hierarchical_agent_teams.ReadDocument

    write_document:
        name: WriteDocument
        description: "Create and save a text document."
        lambda_schema:
            members_annotations:
                content: str
                file_name_to_save_document: str
        lambda_class: src.hierarchical_agent_teams.WriteDocument

    edit_document:
        name: EditDocument
        description: "Edit a document by inserting text at specific line numbers."
        lambda_schema:
            members_annotations:
                file_name_to_edit: str
                inserts_lineno_content: dict[int, str]
        lambda_class: src.hierarchical_agent_teams.EditDocument

agents:
    search_agent:
        agent_type: REACT
        llm: agent_llm
        prompt: search_prompt
        tools: [web_search]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    web_scraper_agent:
        agent_type: REACT
        llm: agent_llm
        prompt: web_scrape_prompt
        tools: [scrape_web]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langgraph.graph.message.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    research_manager:
        agent_type: SUPERVISOR
        llm: agent_llm
        prompt: research_prompt
        agents: [search_agent, web_scraper_agent]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    doc_writer_agent:
        agent_type: REACT
        llm: agent_llm
        prompt: writer_prompt
        tools: [write_document, edit_document, read_document]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    note_taking_agent:
        agent_type: REACT
        llm: agent_llm
        prompt: notes_prompt
        tools: [create_outline, read_document]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langgraph.graph.message.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    summarize_agent:
        agent_type: REACT
        llm: agent_llm
        prompt: summarize_prompt
        tools: [read_document]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langgraph.graph.message.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    doc_writer_manager:
        agent_type: SUPERVISOR
        llm: agent_llm
        prompt: doc_writer_manager_prompt
        agents: [doc_writer_agent, note_taking_agent, summarize_agent]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    research_and_doc_writer_manager:
        agent_type: SUPERVISOR
        llm: agent_llm
        prompt: research_and_doc_writer_prompt
        agents: [research_manager, doc_writer_manager]
        state:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

graphs:
    research_graph:
        primary:
            start: [research_manager]

    doc_writer_graph:
        primary:
            start: [doc_writer_manager]

    research_and_doc_writer_graph:
        primary:
            start: [research_and_doc_writer_manager]

graph_states:
    research_graph:
        primary:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    doc_writer_graph:
        primary:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"

    research_and_doc_writer_graph:
        primary:
            name: CustomState
            members_annotations:
                messages: "typing.Annotated[list[langchain_core.messages.AnyMessage], langgraph.graph.message.add_messages]"
                remaining_steps: "typing.Annotated[int, operator.add]"